<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/material/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/material/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  </head>
  <body>

    <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">App Engine Guestbook</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="{{ url|safe }}" class="btn">{{ url_linktext }}</a></li>
          <li><a href="http://pepetox.com/">pepetox.com</a></li>
          <li><a href="https://github.com/pepetox/gae-angular-materialize">Get the code</a></li>

        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
      <pre class="status" ng-bind="status"></pre>
        <br><br>
        <div class="row center">
          <div class="container">
          <h2 class="header center orange-text">Greetings in the book</h2>

            {% for greeting in greetings %}
            <div class="row">
              {% if greeting.author %}
                <b>{{ greeting.author.email }}
                  {% if user and user.user_id() == greeting.author.identity %}
                    (You)
                  {% endif %}
                </b> wrote:
              {% else %}
               An anonymous person wrote:
              {% endif %}
              <blockquote>{{ greeting.content }}</blockquote>
            </div>
            {% endfor %}

            <form action="/sign?guestbook_name={{ guestbook_name }}" method="post">
              <div><textarea name="content" class="input-block-level" rows="3"></textarea></div>
              <div><input type="submit" class="btn btn-large btn-primary" value="Sign Guestbook"></div>
            </form>

            <hr>

            <form>Guestbook name:
              <input value="{{ guestbook_name }}" name="guestbook_name">
              <input type="submit" value="switch" class="btn btn-large btn-primary red">
            </form>

          
          </div>
        </div>
        <br><br>

      </div>
    </div>


    <!-- <div class="container">
      <div class="section">

          

        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
              <h5 class="center">Speeds up development</h5>

              <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
              <h5 class="center">User Experience Focused</h5>

              <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
              <h5 class="center">Easy to work with</h5>

              <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
            </div>
          </div>
        </div>

      </div>
      <br><br>

      <div class="section">

      </div>
    </div> -->

    <footer class="page-footer orange">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Company Bio</h5>
            <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Settings</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
      </div>
    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="material/js/materialize.js"></script>
    <script src="material/js/init.js"></script>

  </body>
</html>
{% endautoescape %}
