{% extends 'app/views/base.html' %}

{% block content %}
  <div class="row center">
      <div class="container">
      <h1>Edit Course</h1>
          <form method="post">
            <p>Name:</p>
            <input type="text" name="name" value="{{course.name}}">
            <br>
            <p>Description:</p>
            <input type="textarea" name="description" value="{{course.description}}">
            <br>
            <p>Lang:</p>
            <input type="text" name="lang" value="{{course.lang}}">
            <br>
            <br>
            <input type="submit">
          </form>
      </div>
  </div>


{% endblock %}