<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Portfolio</title>
</head>
<body>
  <h1>Edit Project</h1>

  <form method="post">
  <p>Name:</p>
    <input type="text" name="name" value="{{name}}">
    <br>
  <p>Image URL:</p>
    <input type="text" name="img_url" value="{{img_url}}">
    <br>
    <p>Description:</p>
    <textarea name="description" cols="45" rows="5">{{description}}</textarea>
    <br>
    <p>Author:</p>
    <input type="text" name="author" value="{{author}}">
    <br>
    <p>Url:</p>
    <input type="text" name="url" value="{{url}}">
    <br>
    <br>
    <input type="submit">
  </form>

</body>
</html>