{% extends 'app/views/base.html' %}

{% block content %}
  <div class="row center">
      <div class="container">
          <h1>Index</h1>

          {% for course in courses %}
          <span>
          <p>{{ course.name }}</p>
          <a href="courses/show?id={{ course.key.id()}}">Show</a> | <a href="courses/edit?id={{ course.key.id()}}">Edit</a> | <a href="courses/destroy?id={{ course.key.id()}}">Destroy</a>
          </span>
          <br />
          <br />
      </div>
  </div>
{% endfor %}


<a href="/courses/new">New</a>

{% endblock %}