{% extends 'app/views/base.html' %}

{% block content %}
  <div class="row center">
      <div class="container">
          <h2 class="header center orange-text">Index</h2>
     <table>
        <thead>
          <tr>
              <th data-field="id">Name</th>
              <th data-field="name">Description</th>
              <th data-field="name">Language</th>
              <th data-field="name">Author</th>
              <th data-field="name">Actions</th>
              
          </tr>
        </thead>
        <tbody>


          {% for course in courses %}
          <span>
          <tr>
            <td>{{ course.name }}</td>
            <td>{{ course.description }}</td>
            <td>{{ course.lang }}</td>

            <td>{% if course.author %}{{ course.author }}{% endif %}</td>
            <td><a href="courses/show?key={{ course.key.urlsafe()}}">Show</a> | <a href="courses/edit?key={{ course.key.urlsafe()}}">Edit</a>
            
             | <a href="courses/destroy?key={{ course.key.urlsafe()}}">Destroy</td>
            </span>

          </tr>
          {% endfor %}
          </tbody>
          </table>
          <a href="/courses/new" >New Course</a>
          <a href="/courses/download">Export CSV</a>
      </div>
      <div class="container">
      <br>
          <form name="importFile" action="/courses/upload" 
          enctype="multipart/form-data" method="post"> 
                <p>CSV File(Comma Separated Value) File*: <input type="file" 
          name="csv"/> 
                <input type="submit" value="Upload" class="btn btn-large btn-primary"> |
          <a href="/courses/download" class="btn btn-large btn-primary">Export CSV</a></p>

          </form> 
      </div>
  </div>








{% endblock %}