{% extends 'app/views/base.html' %}

{% block content %}
  <div class="row center">
      <div class="container">

        <span>
        <h2 class="header center orange-text">{{ course.name }}</h2>
        <p>Name: {{ course.name }}</p>
        <p>Description: {{ course.description }}</p>
        <p>Language: {{ course.lang }}</p>
         <a href="/courses/edit?key={{ course.key.urlsafe()}}">Edit</a> | <a href="/courses/destroy?key={{ course.key.urlsafe()}}">Destroy</a>
        </span>
        <br />
        <br />
      </div>
  </div>


{% endblock  %}